* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: sans-serif;
  overflow-x: hidden;
}


.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}

.icono-trash {
  position: absolute;
  top: 20px;
  right: 20px;

  color: red;

  cursor: pointer;
  transition: all .3s ease;
  visibility: hidden;
}

.icono-trash:hover {
  color: rgb(147, 23, 23);
  transform: scale(1.1);
} 